{% extends 'market/base.html' %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}

<div class="page_container">
    <div class="template_cart">
	    <div class="container">
			{% if cart.get_total_quantity == 0 %}
				<h1 class="page_heading" style="padding:30px; text-align: center; margin-top: 7%;">
					Your shopping cart is empty :( <br>
					Please add some products.
				</h1>
				<div style="text-align: center;  margin: 50px; margin-bottom: 12.5%;">
					<form action="{% url 'home' %}" method="GET"  >
						{% csrf_token %}
						<button class="btn btn-outline-dark" type="submit" style="font-size: 40px;">
							Go shopping
						</button>
					</form>
				</div>
			{% else %}
				<h1 class="page_heading" style="padding:30px;">Your Shopping Cart</h1>

				<p class="text-right">
					<a href="{% url 'home' %}" class="button light">Continue shopping</a>
					<a href="#" class="button">Checkout</a>
				</p>
				<table class="table table-bordered cart_items" style="margin-bottom: 2.6%;">
					<thead>
						<tr>
							<th class="column_product" colspan="2">Product</th>
							<th class="column_price">Price</th>
							<th class="column_quantity">Quantity</th>
							<th class="column_total">Total</th>
						</tr>
					</thead>

					<tbody>
						{% for item in cart %}
							{% with product=item.product %}
								<tr>
									<td class="column_product_img">
										<a>
											<img class="card-img-cart" src="{{MEDIA_URL}}{{product.img.url}}" width="10%" alt="..." />
										</a>
									</td>

									<td class="column_product_info">
										<p class="cart_item__name product_name">
											<a>{{ product.title }}</a>
										</p>
										<form action="{% url 'cart_remove' product.id %}" method="POST"  >
											{% csrf_token %}
											<button class="btn btn-outline-dark" type="submit">
												Remove
											</button>
										</form>
									</td>

									<td class="column_price">
										<span class="money">${{ item.price }}</span>
									</td>

									<td class="column_quantity">
										<div class="quantity_box">
											<span class="quantity_up">{{ item.quantity }}</span>
										</div>
									</td>

									<td class="column_total">
										<span class="money">${{ item.total_price }}</span>
									</td>
								</tr>
							{% endwith %}
						{% endfor %}
					</tbody>

					<tfoot>
						<tr>
							<td colspan="5">
								<p class="cart_total">Total price <span class="money">${{ cart.get_total_price }}</span></p>
							</td>
						</tr>
					</tfoot>

				</table>
			{% endif %}
        </div>
    </div>
</div>
{% endblock %}
