{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'market/css/styles.css' %}" rel="stylesheet" />

    </head>
    <body>
        <style>

            .cats {
                margin: 25px;
            }
            .bg-dark {
                background: url(/media/bg.jpg);
            }
        </style>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">
                    Online guitar market
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% recursetree category.all %}
                            {% if node.is_leaf_node %}
                                <li class="nav-item dropdown">
                                    <a href="{% url 'category' node.slug %}"
                                       style="text-align: center; padding-left: 25px; padding-right: 25px;" class="nav-link" role="button">
                                        {{ node.title }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a href="{% url 'category' node.slug %}" style="text-align: center; padding-left: 25px; padding-right: 25px;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ node.title }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li>
                                            {{ children }}
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endrecursetree %}
                    </ul>
                    <form action="{% url 'cart_detail' %}" method="get" class="d-flex" >
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.get_total_quantity }}</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>


        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Guitar universe</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        {% block content %}

        {% endblock %}
        <!-- Footer-->
        <footer class="py-5 bg-dark" style="  position: relative; bottom: 0; width: 100%;">
            <div class="container"><p class="m-0 text-center text-white">
                Copyright &copy; Tramontana Minsk 2021
            </p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
