{% extends 'market/base.html' %}

{% block title %}Guitar Universe{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for i in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top"
                                 src="{{MEDIA_URL}}{{i.img.url}}"
                                 width="50%" alt="..." />
                            <style>
                                .card-img, .card-img-bottom, .card-img-top {
                                    width: 45%;
                                }
                                img, svg {
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                                .card {
                                    border: None;
                                }
                            </style>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{i.title}}</h5>
                                    <!-- Product price-->
                                    {{i.price}}$
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'item' i.slug i.id %}">
                                    View options
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
