{% extends 'market/base.html' %}

{% load mptt_tags %}

{% block title %}Guitar Universe{% endblock %}

{% block content %}
    <body>
    <style>
        .cats {
            margin: 25px;
        }
        .bg-dark {
            background: url(/media/bg.jpg);
        }
        .display-5 {
            font-size: calc(1.005rem + 2.1vw);
        }
        .card-img, .card-img-bottom, .card-img-top {
            width: 50%;
        }
        img, svg {
            display: block;
            margin: 0 auto;
        }
        .form-control {
            -moz-appearance: textfield;
        }
            .form-control::-webkit-inner-spin-button {
            display: none;
        }
    </style>
        <!-- Navigation-->

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img
                            class="card-img-top mb-5 mb-md-0" src="{{MEDIA_URL}}{{product.img.url}}"
                            alt="..."
                    /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{ product.price }}$</span>
                        </div>
                        <p class="lead">{{ product.text }}</p>
                        <div class="d-flex">
                            <form action="{% url 'cart_add' product.id %}" method="post" class="d-flex">
                                <input inputmode="integer" class="form-control text-center me-3" type="number" id="inputQuantity" value="1" style="max-width: 3rem" name="quantity" required="">
                                <input type="hidden" name="update" value="False" id="id_update">
                                {% csrf_token %}
                                <button class="btn btn-outline-dark flex-shrink-0">
                                    <i class="bi-cart-fill me-1"></i>
                                    Add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
    </body>
</html>
{% endblock %}
